.points-counter, .status {
  position: absolute;
  right: 5%;
  background-color: gray;
  opacity: 0.8;
  border-radius: 20px;
  width: max-content;
  height: min-content;
  padding: 10px;
}

.points-counter {
  top: 5%;
  font-size: 30px;
}

.status {
  top: 12%;
  font-size: 20px;
  max-width: 90%;
}
