.background {
  min-height: 100%;
  background-image: url("../assets/images/friends-bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.answers-container {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translateX(-50%); // Centering the question div
  width: 800px;
  max-width: 90%;
  height: min-content;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.85;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
