.question {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%); // Centering the question div
  background-color: gray;
  width: 800px;
  max-width: 90%;
  height: min-content;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.85;
}
